<div class="container">
  <div class="p-2 w-full flex justify-center">
    <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mx-2"
    (click)="addDrawing()"
      >Add Drawing</button>
    <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mx-2"
    (click)="queryDrawing()"
    >Query Drawing</button>
  </div>
  <div class="row">
    <div id="map" class="col"></div>
  </div>
</div>
